html{
    scroll-behavior: smooth;
  }

body {
    background-color:rgb(121, 118, 118);
}

/*header*/

header {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: aliceblue;
    height: 100px;
    margin: auto;
}
/*logo*/

 .logo h1 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: -50px;
    font-family: 'Orbitron', sans-serif;
 }


/*navbar*/

.navbar {
    position: relative;
    display: inline-block;
    float: right;
    
}

.navbar li {
    display: inline-block;
    text-decoration-line: none;
    margin-right: 40px;
    position: relative;
    font-size: 17px;

}

.navbar li a {
    color: aliceblue;
    text-decoration-line: none;
}

.navbar li a:hover {
    background-color: white;
    color: black;
    
}
/*fitur*/

.home {
    margin-top: 6%;
    background-color: greenyellow;
    background-image: url("img/pt3.png");
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    /* height: 1000px; */
}

.introText p {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

.about {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 200px;
}

.about h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Righteous', cursive;
}

.about p {
    margin: 10px 200px;
    font-size: 25px;
    text-align: justify;
}

.service h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Righteous', cursive;
}

.heli {
    /* display: inline-block; */
    grid-template-columns: auto auto auto;
}

.hel {
    text-align: left;
    margin-left: 50px;
}

.hel p {
    margin-right: 900px;
    text-align: justify;
    font-size: 20px;
}

.hell {
    text-align: center;
}

.hell p {
    margin: 1px 450px;
    text-align: justify;
    font-size: 20px;
}

.helll {
    text-align: right;
    margin-right: 50px;
}

.helll p {
    margin-left: 900px;
    text-align: justify;
    font-size: 20px;
}

/*price*/

.price {
    text-align: center;
}

.price h2 {
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

.price p {
    margin: 10px 200px;
    font-size: 25px;
    text-align: justify;
}
.prom1 {
    /* clear: right; */
    margin-top: 100px;
}
.prom1 p {
    margin: 10px 200px;
    font-size: 25px;
    text-align: justify;
    
}
.prom1 h4 {
    font-size: 30px;
    font-family: 'Righteous', cursive;
    margin-left: 40px;
}

.prom2 {
    text-align: right;
}

.prom2 p {
    margin: 10px 200px;
    font-size: 25px;
    text-align: justify;
}

.prom2 h4 {
    font-size: 30px;
    font-family: 'Righteous', cursive;
    margin-right: 40px;
}

/* Form */

#toContact {
    margin: 20px auto;
    width: 95%;
    text-align: center;
    /* border: 1px solid black; */
  }
  
  #toContact h3 {
    background-color: rgba(6, 29, 243, 0.5);
    font-size: 25px;
    margin-top: 70px;
  }
  
  /*form*/
  .form input{
    width: 50px;
  }
  form {
    /* color: aliceblue; */
  }
  textarea {
    width: 20%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=text] {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;  
  }
  input[type=email] {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: rgb(8, 4, 238);
    color: white;
    height: 50px;
    width: 10%;
  
  }
  input[type=submit]:hover {
    background-color: black;
  }
  
  footer {
    background-color: orange;
    width: 100%;
    height: 50px;
    text-align: center;
  
   
  }
  
  .foottext {
    display: inline-block;
  
    margin-top: 15px;
  }